* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100vh;
}

body {
    background-image: url(images/BackgroundPrick.png);
    background-color: black;
    height: 100%;
}

/* Page style */
.centerPage {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.contentBorder {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0 40px 15px purple;
    border-right: 2px solid purple;
    border-left: 2px solid purple;
    max-width: 960px;
}

.contentBorder>div {
    min-height: 100vh;
}

/* Basic */
.basic ul {
    list-style: none;
}

h1, h2, p, li {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.basic .titlecard {
    max-width: 960px;
}

.basic .gameBio {
    margin-right: 50px;
    margin-left: 50px;
}

.basic .gameBio li {
    margin-top: 5px;
}

/* Info Button & Box */
.infoButton {
    text-align: center;
}

.infoButton button {
    background-color: rgba(0, 0, 0, 0);
    max-width: 30px;
    cursor: pointer;
    border: none;
}

.infoButton button img {
    margin-top: 10px;
    max-width: 30px;
}

.infoBox {
    border: 1px white solid;
    width: 100%;
}

/* Slider */
.slider {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    width: 100%;
}

.slider button {
    position: absolute;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 40px;
    top: 50%;
}

.slider button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
}

.slider .backButton {
    background-image: url(images/icon/arrowLeft.png);
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    left: 5%;
}

.slider .nextButton {
    background-image: url(images/icon/arrowRight.png);
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    right: 5%;
}

.slider img {
    max-width: 720px;
}

.slider iframe {
    min-height: 405px;
    min-width: 720px;
    border: none;
}

/* Bio */
#bio {
    height: 100vh;
}

#bio h1, #bio h2 {
    text-align: center;
}

#bio .introductionText {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
}

#bio .contactInfo {
    text-align: center;
    margin-top: 15%;
    font-size: 30px;
}

#bio .gamesList {
    position: absolute;
    text-align: center;
    height: 450px;
    width: 960px;
    bottom: 0;
}

#bio ul {
    height: calc(95% / 2);
    list-style: none;
}

#bio li {
    width: calc(100% / 3);
    height: 100%;
    float: left;
    margin: 0;
}

#bio li button {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: black;
    border: 4px white solid;
    border-radius: 7%;
    font-size: 36px;
    cursor: pointer;
    color: white;
    height: 95%;
    width: 95%;
}

#bio li button:hover {
    border: 4px rgba(128, 0, 128, 0.5) solid;
    color: purple;
}

/* Bio buttons background */
#bio .gamesList .PlaytimeTD {
    background-image: url(images/PlaytimeTD/sliderPhotos/playtime0.png);
}

#bio .gamesList .Lumberman {
    background-image: url(images/Lumberman/buttonBackground.png);
}

#bio .gamesList .Astronought {
    background-image: url(images/Astronought/buttonBackground.png);
}

#bio .gamesList .towerOA {
    background-image: url(images/TowerOfAour/buttonBackground.png);
}

#bio .gamesList .cycles {
    background-image: url(images/Cycles/SliderPhotos/cycles0.gif);
}

#bio .gamesList .bagOf {
    background-image: url(images/BagOfRocksEatsScissors/SliderPhotos/bagOf1.png);
}

/* Lumberman */
#lumberman .gameBio {
    margin-bottom: 200px;
}

/* Footer */
footer {
    text-align: center;
    font-size: 24px;
}

/* Mobile Style */
@media screen and (max-width: 768px) {

    /* Page style */
    .contentBorder {
        box-shadow: none;
        border-right: none;
        border-left: none;
    }
    
    .contentBorder {
        max-width: 100%;
    }

    /* Basic */
    .basic .titlecard {
        max-width: 100%;
    }

    /* Bio */
    #bio .introductionText {
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 10px;
        font-size: 14px;
    }

    #bio .contactInfo {
        font-size: 18px;
    }

    #bio .gamesList {
        height: 350px;
        width: 100%;
        bottom: 0px;
    }
    
    #bio ul {
        height: calc(93% / 2);
    }
    
    #bio li {
        width: calc(100% / 3);
    }
    
    #bio li button {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 16px;
        color: white;
        height: 95%;
        width: 95%;
    }

    /* Slider */
    .slider {
        margin-bottom: 25px;
        position: relative;
        text-align: center;
        width: 100%;
    }
    
    .slider button {
        height: 20px;
        width: 20px;
        top: 50%;
    }
    
    .slider img {
        max-width: 90%;
    }
    
    .slider iframe {
        min-width: 90%;
        min-height: 0px;
    }
}
